<div class="container">
    <div class="bg">
        <h2>Elegant embedable modals</h2>
        <p>Add your custom embed code and everything just works, no need to write html or css.</p>
    </div>
    <div class="bg">
        <h2>Landing Pages</h2>
        <p>Use our hosted landing pages on your domain</p>
    </div>
    <div class="bg">
        <h2>Popups</h2>
        <p>Trigger popups via clicks, on exit, or after a delay.</p>
    </div>
    <div class="bg">
        <h2>Slide in Bars</h2>
        <p>Keep your contest running side by side with your website.</p>
    </div>
    <div id="link-pointer" class="bg" routerLink="/register">
        <h1><i class="fas fa-sign-in-alt"></i></h1>
        <h2>Your way to early access</h2>
    </div>
    <div class="bg">
        <h2>Custom HTML Forms</h2>
        <p>Build your HTML or use another service with our AnyForm script.</p>
    </div>
    <div class="bg">
        <h2>Participation</h2>
        <p>Instant social gamification as users move up the list by referring friends.</p>
    </div>
    <div class="bg">
        <h2>Configurable</h2>
        <p>Have an easy to use, embedable, mailing list signup.</p>
    </div>

    <div class="bg">
        <h2>Email Opt-in Bribes</h2>
        <p>Deliver a simple instant download in exchange for someone joining your email list.</p>
    </div>

</div>