<div class="container">

    <div id="btn-position" class="row">
        <button class="btn general-btn" routerLink="/login">Login</button>
        <button class="btn general-btn" routerLink="/feedback">Feedback</button>
    </div>

    <div>
        <h1 id="heading">waitlistedLabs</h1>
        <h5 id="sub-heading">Grow your list, Engage your sign ups, Integrate your data </h5>
    </div>

    <div>
        <button id="registerBtn" class="btn" routerLink="/about">Interested? Know more here <i
                class="fas fa-angle-right"></i> </button>
    </div>
</div>